<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>port</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductController</display-name>
    <servlet-name>AddProductController</servlet-name>
    <servlet-class>controller.AddProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductController</servlet-name>
    <url-pattern>/AddProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>controller.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProduct</display-name>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>controller.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrderServlet</display-name>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <servlet-class>controller.PlaceOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <url-pattern>/PlaceOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportProductController</display-name>
    <servlet-name>ReportProductController</servlet-name>
    <servlet-class>controller.ReportProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportProductController</servlet-name>
    <url-pattern>/ReportProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderStatusServlet</display-name>
    <servlet-name>UpdateOrderStatusServlet</servlet-name>
    <servlet-class>controller.UpdateOrderStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderStatusServlet</servlet-name>
    <url-pattern>/UpdateOrderStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateReportSolutionServlet</display-name>
    <servlet-name>UpdateReportSolutionServlet</servlet-name>
    <servlet-class>controller.UpdateReportSolutionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReportSolutionServlet</servlet-name>
    <url-pattern>/UpdateReportSolutionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllProductsServlet</display-name>
    <servlet-name>AllProductsServlet</servlet-name>
    <servlet-class>controller.AllProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllProductsServlet</servlet-name>
    <url-pattern>/AllProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailServlet</display-name>
    <servlet-name>ProductDetailServlet</servlet-name>
    <servlet-class>controller.ProductDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailServlet</servlet-name>
    <url-pattern>/ProductDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderListServlet</display-name>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>controller.OrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/OrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportedProductsServlet</display-name>
    <servlet-name>ReportedProductsServlet</servlet-name>
    <servlet-class>controller.ReportedProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportedProductsServlet</servlet-name>
    <url-pattern>/ReportedProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewConsumerOrdersServlet</display-name>
    <servlet-name>ViewConsumerOrdersServlet</servlet-name>
    <servlet-class>controller.ViewConsumerOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewConsumerOrdersServlet</servlet-name>
    <url-pattern>/ViewConsumerOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOrdersReportProductServlet</display-name>
    <servlet-name>GetOrdersReportProductServlet</servlet-name>
    <servlet-class>controller.GetOrdersReportProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOrdersReportProductServlet</servlet-name>
    <url-pattern>/GetOrdersReportProductServlet</url-pattern>
  </servlet-mapping>
</web-app>